

:root{
    --primary: #1B3C73;
    --secondary: #FF407D;
    --primary-bg: #FFFFFF;
    --secondary-bg: #e4e4e4;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--secondary-bg);
    font-family: 'roboto', 'Arial';
    transition: 0.2;
}

h1, h2:hover{
    font-weight: 600;
}

svg{
    width: 30px;
}

nav{
    background-color: var(--primary);
    flex-grow: 1;
    color: white;
    padding-right: 24px;
}

nav > .header{
    display: flex;
    margin-left: 16px;
}

.header > svg{
    width: 40px;
    margin-right: 16px;
}

.header > a{
    font-size: 1.8rem;
    margin: 20px 0;
    margin-right: 80px;
}

nav ul{
    padding: 0;
    padding-left: 30px;
}

nav li{
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 30px;
}

nav li svg{
    width: 20px;
    margin-right: 20px;
}

nav .main{
    margin-bottom: 40px;
}

main{
    flex-grow: 3;
}

main header{
    background-color: var(--primary-bg);
    box-shadow: 3px 5px 4px #bfbfbf ;
}

main > header > .navigation{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 50px;
}

header > .navigation > .search{
    display: flex;
    flex: 5;
    align-items: center;
} 

header > .navigation > .profile{
    display: flex;
    flex: 3;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
    font-size: 16px;
    font-weight: 700;
} 

.navigation > .profile > img{
    margin: 0 30px;
}

header > .navigation svg{
    width: 30px;
}

header > .navigation input{
    margin-left: 30px;
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: var(--secondary-bg);
    height: 32px;
    width: 90%;
}

header > .navigation img{
    width: 50px;
    border-radius: 30px;
}

header > .profile{
    display: flex;

}

header > .profile > img{
    margin: 10px 20px;
    margin-left: 60px;
    margin-top: 20px;
    width: 65px;
    border-radius: 100%;
}

header > .profile > .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.name > span{
    font-weight: 700;
    font-size: 1rem;
}

.name > h1{
    margin: 0;
    margin-top: 4px;
    font-size: 1.5rem;
}

header > .profile > .buttons{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
}

.buttons button{
    border: none;
    background-color: var(--secondary);
    color: white;
    display: inline;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 10px 25px;
    margin: 0 20px;
    border-radius: 20px;
}

main > .mainpart{
    margin-left: 24px;
    display: flex;
}

.mainpart > section{
    flex: 2;
}

.mainpart > section > h1{
    font-size: 1.3rem;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
}

.mainpart > section > .projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-right: 30px;
}

.projects .card{
    background-color: var(--primary-bg);
    border-radius: 10px;
    border-left:  10px solid #FF407D;
}

.projects .card h2{
    font-size: 1.4rem;
    margin: 0;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.projects .card p{
    color: rgb(0,0,0,0.7);
    margin: 0;
    margin-top: 5px;
    margin-left: 20px;
    width: 70%;
    font-size: 1.1rem;
}

.projects .card .icons{
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.icons svg{
    margin-right: 25px;
    margin-bottom: 30px;
}

.card1{
    grid-area: 1 / 1 / 2 / 3;
}

.card2{
    grid-area: 1 / 3 / 2 / 5;
}

.card3{
    grid-area: 2 / 1 / 3 / 3;
}

.card4{
    grid-area: 2 / 3 / 3 / 5;
}

.card5{
    grid-area: 3 / 1 / 4 / 3;
}

.card6{
    grid-area: 3 / 3 / 4 / 5;
}

.mainpart > aside{
    flex: 1;
}

aside .announcements h1{
    font-size: 1.3rem;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
}

.announcements .card{
    background-color: var(--primary-bg);
    padding: 10px 25px;
    margin-right: 30px;
    border-radius: 15px;
}

.announcements .card h2{
    font-size: 1.1rem;
}

.announcements .card p{
    font-size: 09.rem;
    line-height: 20px;
    color: rgb(0,0,0,0.7);
}

.trending h1{
    font-size: 1.3rem
}

.trending .users{
    background-color: var(--primary-bg);
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.users .user{
    display: flex;
    margin-top: 10px;
}

.user img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    margin-right: 30px;
}

.user h2{
    margin: 0;
    margin-top: 10px;
}

.user span{
    color: rgb(0,0,0,0.7);
}